
@{
    ViewBag.Title = "GioiThieu";
}

<h2>THÔNG TIN SINH VIÊN</h2>
<table>
    <tr>
        <td>Mã sinh viên: </td>
        <td>59131580</td>
    </tr>
    <tr>
        <td>Họ tên: </td>
        <td>Nguyễn Tuấn Nghĩa</td>
    </tr>
    <tr>
        <td>Lớp: </td>
        <td>59CNTT2</td>
    </tr>
    <tr>
        <td>Ngày kiểm tra: </td>
        <td>02/07/2020</td>
    </tr>
</table>

